/*
     Name:         Alan Duffy-Guy
     Project Phase1:Designing the webpage
		 Purpose:      the external style sheet
     CSS File Name:SiteStyle.css
     Course:       CSC 242 - Fall 2015
     Due Date:     Nov. 5, 2015
		 
*/
h1{font-family: helvetica, sans-serif;text-align:center;font-size:22;color: #2f140d}
h2{font-family:arial; text-align:center; font-size:18;color: #2f140d}
h3{font-family:arial; font-size:15;color: #2f140d}
p{font-size:12pt;font-family: arial, sans-serif;color: #340000}
body{background-color: #ABCCA3}
label{color: #340000}
.centered {text-align:center; font-size:15pt;font-family: arial, sans-serif}
